/* Accessibility
--------------------------------------------- */
/* line 10, src/aglinks.scss */
.agl-skip-link a {
  border: 0;
  clip: rect(0 0 0 0);
  position: absolute;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
}
/* line 19, src/aglinks.scss */
.agl-skip-link a:focus {
  clip: auto;
  position: static;
  overflow: visible;
  margin: 0;
  width: auto;
  height: auto;
}

/* Header and Footer Navigation
--------------------------------------------- */
/* line 31, src/aglinks.scss */
.agl-agency-bar {
  display: none;
}

/* line 36, src/aglinks.scss */
.site-footer .wrap .wrap {
  padding-left: 0;
  padding-right: 0;
}
/* line 40, src/aglinks.scss */
.site-footer .wrap .wrap .footer-container {
  padding-left: 0;
}
/* line 43, src/aglinks.scss */
.site-footer .wrap .wrap .footer-container-tamus {
  padding-right: 0;
}
/* line 47, src/aglinks.scss */
.site-footer ul {
  margin-left: 0;
  margin-bottom: 1.25rem;
  font-size: 1rem;
  line-height: 1.6;
  list-style-position: outside;
  list-style-type: none;
}
/* line 60, src/aglinks.scss */
.site-footer .footer-container {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  float: left;
}
/* line 68, src/aglinks.scss */
.site-footer .footer-container-tamus {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  float: left;
  height: 82px;
}
/* line 77, src/aglinks.scss */
.site-footer .footer-tamus {
  border: 2px solid #f8f8f8;
}
/* line 81, src/aglinks.scss */
.site-footer p {
  margin-bottom: 0;
}

@media only screen and (min-width: 45.063em) {
  /* line 90, src/aglinks.scss */
  .agl-agency-bar {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    *zoom: 1;
    background-color: #5E564E;
    height: 36px;
    display: block;
    position: absolute;
  }
  /* line 100, src/aglinks.scss */
  .agl-agency-bar.executiveprotheme, .agl-agency-bar.texas4-h, .agl-agency-bar.outreachpro {
    position: relative;
  }
  /* line 106, src/aglinks.scss */
  .agl-agency-bar.altitudeprotheme {
    height: 37px;
  }
  /* line 108, src/aglinks.scss */
  .agl-agency-bar.altitudeprotheme ~ .site-container .site-header {
    top: 36px;
  }
  /* line 110, src/aglinks.scss */
  .admin-bar .agl-agency-bar.altitudeprotheme ~ .site-container .site-header {
    top: 68px;
  }
  /* line 113, src/aglinks.scss */
  .agl-agency-bar.altitudeprotheme ~ .site-container .site-header.dark {
    top: 0;
  }
  /* line 115, src/aglinks.scss */
  .admin-bar .agl-agency-bar.altitudeprotheme ~ .site-container .site-header.dark {
    top: 32px;
  }
  /* line 122, src/aglinks.scss */
  .agl-agency-bar.texas4-h {
    background-color: #272827;
  }
  /* line 125, src/aglinks.scss */
  .agl-agency-bar.texas4-h .agency-wrap {
    float: none;
    margin: 0;
    padding: 0;
    width: auto;
  }
  /* line 131, src/aglinks.scss */
  .agl-agency-bar.texas4-h .agency-wrap ul li:after {
    background-color: #272827;
    transform: none;
    box-shadow: none;
  }
  /* line 139, src/aglinks.scss */
  .agl-agency-bar .agency-wrap {
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    margin-left: auto;
    margin-right: auto;
    width: 71.25rem;
  }
  /* line 148, src/aglinks.scss */
  .agl-agency-bar ul {
    margin: 0;
    text-align: center;
  }
  /* line 152, src/aglinks.scss */
  .agl-agency-bar ul li {
    display: inline-block;
    position: relative;
    z-index: 5;
  }
  /* line 157, src/aglinks.scss */
  .agl-agency-bar ul li:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform: skew(-20deg);
    box-shadow: 0 0 10px #222;
    background: #5E564E;
  }
  /* line 170, src/aglinks.scss */
  .agl-agency-bar ul li:hover:after {
    background-color: #4F5628;
  }
  /* line 174, src/aglinks.scss */
  .agl-agency-bar ul li a {
    background: url("../img/agency-nav.png") no-repeat 12px 0;
    cursor: pointer;
    display: block;
    height: 36px;
    width: 144px;
    opacity: 0.35;
    text-indent: -9999em;
    position: relative;
    z-index: 2;
    transition: none 300ms ease-out;
  }
  /* line 186, src/aglinks.scss */
  .agl-agency-bar ul li a:hover {
    opacity: 1;
  }
  /* line 191, src/aglinks.scss */
  .agl-agency-bar ul li.tvmdl-item {
    z-index: 4;
  }
  /* line 193, src/aglinks.scss */
  .agl-agency-bar ul li.tvmdl-item:hover:after {
    background-color: #8C5933;
  }
  /* line 196, src/aglinks.scss */
  .agl-agency-bar ul li.tvmdl-item a {
    width: 100px;
    background-position: 12px -36px;
  }
  /* line 202, src/aglinks.scss */
  .agl-agency-bar ul li.ext-item {
    z-index: 3;
  }
  /* line 204, src/aglinks.scss */
  .agl-agency-bar ul li.ext-item:hover:after {
    background-color: #1B607B;
  }
  /* line 207, src/aglinks.scss */
  .agl-agency-bar ul li.ext-item a {
    width: 111px;
    background-position: 12px -72px;
  }
  /* line 213, src/aglinks.scss */
  .agl-agency-bar ul li.res-item {
    z-index: 2;
  }
  /* line 215, src/aglinks.scss */
  .agl-agency-bar ul li.res-item:hover:after {
    background-color: #5C8C39;
  }
  /* line 218, src/aglinks.scss */
  .agl-agency-bar ul li.res-item a {
    width: 109px;
    background-position: 12px -108px;
  }
  /* line 224, src/aglinks.scss */
  .agl-agency-bar ul li.college-item {
    z-index: 1;
  }
  /* line 226, src/aglinks.scss */
  .agl-agency-bar ul li.college-item:hover:after {
    background-color: #5C0025;
  }
  /* line 229, src/aglinks.scss */
  .agl-agency-bar ul li.college-item a {
    background-position: 12px -144px;
  }

  /* line 239, src/aglinks.scss */
  .site-footer .footer-container {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 83.33333%;
    float: left;
  }
  /* line 247, src/aglinks.scss */
  .site-footer .footer-container-tamus {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 16.66667%;
    float: right;
  }
  /* line 253, src/aglinks.scss */
  .site-footer .footer-container-tamus a {
    float: right;
  }
  /* line 258, src/aglinks.scss */
  .site-footer .req-links li {
    float: left;
    font-size: 0.8em;
    margin: .2em 1em .2em 0;
  }
}
@media only screen and (max-width: 1023px) {
  /* line 267, src/aglinks.scss */
  .agl-agency-bar.altitudeprotheme {
    position: static;
  }
}
