/* line 9, src/arl-plugin.scss */
.agency-bar, .college-title {
  display: none !important;
}

/* line 13, src/arl-plugin.scss */
.arl-agency-bar.executiveprotheme {
  position: relative;
}

/* line 17, src/arl-plugin.scss */
.arl-agency-bar {
  display: none;
}

/* line 23, src/arl-plugin.scss */
.site-footer ul {
  margin-left: 0;
  margin-bottom: 1.25rem;
  font-size: 1rem;
  line-height: 1.6;
  list-style-position: outside;
}
/* line 35, src/arl-plugin.scss */
.site-footer .footer-container {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  float: left;
}
/* line 43, src/arl-plugin.scss */
.site-footer .footer-container-tamus {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  float: left;
  height: 82px;
}
/* line 52, src/arl-plugin.scss */
.site-footer .footer-tamus {
  border: 2px solid #f8f8f8;
}
/* line 56, src/arl-plugin.scss */
.site-footer p {
  margin-bottom: 0;
}

@media only screen and (min-width: 45.063em) {
  /* line 65, src/arl-plugin.scss */
  .arl-agency-bar {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    *zoom: 1;
    background-color: #5E564E;
    height: 36px;
    display: block;
    position: absolute;
  }
  /* line 75, src/arl-plugin.scss */
  .arl-agency-bar.altitudeprotheme {
    height: 37px;
  }
  /* line 77, src/arl-plugin.scss */
  .arl-agency-bar.altitudeprotheme ~ .site-container .site-header {
    top: 36px;
  }
  /* line 79, src/arl-plugin.scss */
  .admin-bar .arl-agency-bar.altitudeprotheme ~ .site-container .site-header {
    top: 68px;
  }
  /* line 82, src/arl-plugin.scss */
  .arl-agency-bar.altitudeprotheme ~ .site-container .site-header.dark {
    top: 0;
  }
  /* line 84, src/arl-plugin.scss */
  .admin-bar .arl-agency-bar.altitudeprotheme ~ .site-container .site-header.dark {
    top: 32px;
  }
  /* line 90, src/arl-plugin.scss */
  .arl-agency-bar .agency-wrap {
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 71.25rem;
  }
  /* line 100, src/arl-plugin.scss */
  .arl-agency-bar ul {
    margin: 0;
    position: absolute;
  }
  /* line 104, src/arl-plugin.scss */
  .arl-agency-bar ul li {
    float: left;
    position: relative;
    z-index: 5;
  }
  /* line 109, src/arl-plugin.scss */
  .arl-agency-bar ul li:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform: skew(-20deg);
    box-shadow: 0 0 10px #222;
    background: #5E564E;
  }
  /* line 122, src/arl-plugin.scss */
  .arl-agency-bar ul li:hover:after {
    background-color: #4F5628;
  }
  /* line 126, src/arl-plugin.scss */
  .arl-agency-bar ul li a {
    background: url("../img/agency-nav.png") no-repeat 12px 0;
    cursor: pointer;
    display: block;
    height: 36px;
    width: 144px;
    opacity: 0.35;
    text-indent: -9999em;
    position: relative;
    z-index: 2;
    transition: none 300ms ease-out;
  }
  /* line 138, src/arl-plugin.scss */
  .arl-agency-bar ul li a:hover {
    opacity: 1;
  }
  /* line 143, src/arl-plugin.scss */
  .arl-agency-bar ul li.tvmdl-item {
    z-index: 4;
  }
  /* line 145, src/arl-plugin.scss */
  .arl-agency-bar ul li.tvmdl-item:hover:after {
    background-color: #8C5933;
  }
  /* line 148, src/arl-plugin.scss */
  .arl-agency-bar ul li.tvmdl-item a {
    width: 100px;
    background-position: 12px -36px;
  }
  /* line 154, src/arl-plugin.scss */
  .arl-agency-bar ul li.ext-item {
    z-index: 3;
  }
  /* line 156, src/arl-plugin.scss */
  .arl-agency-bar ul li.ext-item:hover:after {
    background-color: #1B607B;
  }
  /* line 159, src/arl-plugin.scss */
  .arl-agency-bar ul li.ext-item a {
    width: 111px;
    background-position: 12px -72px;
  }
  /* line 165, src/arl-plugin.scss */
  .arl-agency-bar ul li.res-item {
    z-index: 2;
  }
  /* line 167, src/arl-plugin.scss */
  .arl-agency-bar ul li.res-item:hover:after {
    background-color: #5C8C39;
  }
  /* line 170, src/arl-plugin.scss */
  .arl-agency-bar ul li.res-item a {
    width: 109px;
    background-position: 12px -108px;
  }
  /* line 176, src/arl-plugin.scss */
  .arl-agency-bar ul li.college-item {
    z-index: 1;
  }
  /* line 178, src/arl-plugin.scss */
  .arl-agency-bar ul li.college-item:hover:after {
    background-color: #5C0025;
  }
  /* line 181, src/arl-plugin.scss */
  .arl-agency-bar ul li.college-item a {
    background-position: 12px -144px;
  }

  /* line 191, src/arl-plugin.scss */
  .site-footer .footer-container {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 83.33333%;
    float: left;
  }
  /* line 199, src/arl-plugin.scss */
  .site-footer .footer-container-tamus {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 16.66667%;
    float: right;
  }
  /* line 205, src/arl-plugin.scss */
  .site-footer .footer-container-tamus a {
    float: right;
  }
  /* line 210, src/arl-plugin.scss */
  .site-footer .req-links li {
    float: left;
    font-size: 0.8em;
    margin: .2em 1em .2em 0;
  }
}
@media only screen and (max-width: 1023px) {
  /* line 219, src/arl-plugin.scss */
  .arl-agency-bar.altitudeprotheme {
    position: static;
  }
}
@media only screen and (min-width: 970px) {
  /* line 227, src/arl-plugin.scss */
  .arl-agency-bar ul {
    left: 220px;
  }
}
@media only screen and (min-width: 1140px) {
  /* line 236, src/arl-plugin.scss */
  .arl-agency-bar ul {
    left: 204px;
  }
}
