$nav-item-width: 116;
$nav-item-height: 36;
$nav-item-bgcolor: #5E564E;
$nav-item-bgcolor-tx4h: #272827;
$nav-item-pipe-width: 28;
$nav-item-bgoffset-x: 12;

// Hide only visually, but have it available for screenreaders: h5bp.com/v
@mixin visuallyhidden() {
	border: 0;
	clip: rect(0 0 0 0);
	position: absolute;
	overflow: hidden;
	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;

	&.focusable:active,
	&.focusable:focus {
		clip: auto;
		position: static;
		overflow: visible;
		margin: 0;
		width: auto;
		height: auto;
	}
}

/* Accessibility
--------------------------------------------- */
.screen-reader-text {
	@include visuallyhidden;
}

.agl-skip-link a {
	border: 0;
	clip: rect(0 0 0 0);
	position: absolute;
	overflow: hidden;
	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;

	&:focus {
		clip: auto;
		position: static;
		overflow: visible;
		margin: 0;
		width: auto;
		height: auto;
	}
}

/* Header and Footer Navigation
--------------------------------------------- */

.site-footer.agl-footer-wrap {
	text-transform: capitalize;
	text-align: center;

	.wrap {
		padding: 16px;
	}

	ul {
		margin-left: 0;
		margin-bottom: 0;
		line-height: 1.6;
		list-style-position: outside;
		list-style-type: none;
		text-align: center;
		font-size: 10pt;

		@media only screen and (min-width: 1000px) {
			font-size: 11pt;
		}

		li {
			display: inline-block;
			margin-left: 1rem;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	.footer-container {
		padding-left: 0;
		padding-right: 1rem;
		width: 100%;
		float: left;
	}

	.footer-container-tamus {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
		display: inline-block;
		height: 82px;

		a {
			float: none;
			display: inline-block;
			vertical-align: middle;

			&:first-child ~ a {
				margin-left: 1rem;
			}
		}
	}

	.footer-tamus {
		border: 2px solid #F8F8F8;
	}

	p {
		margin-bottom: 0;
	}

}

@media only screen and (max-width: 720px) {
	.site-footer.agl-footer-wrap {
		.footer-container {
			padding-right: 0;
		}

		.footer-container-tamus {
			margin: 1.25rem 0;
		}
	}
}

@media only screen and (min-width: 45.063em) {
	.site-footer.agl-footer-wrap {
		text-align: left;

		.wrap {
			padding-left: 0;
			padding-right: 0;
		}

		.footer-container {
			width: 83.33333%;
			float: left;
		}

		.footer-container-tamus {
			padding-left: 0;
			padding-right: 0;
			width: 16.66667%;
			float: right;
			text-align: center;
		}

		.req-links li {
			float: left;
			margin: .2em 1em .2em 0;
			display: inline;
		}
	}
}
