$nav-item-width: 116;
$nav-item-height: 36;
$nav-item-bgcolor: #5E564E;
$nav-item-pipe-width: 28;
$nav-item-bgoffset-x: 12;

/* Accessibility
--------------------------------------------- */
.agl-skip-link a {
  border: 0;
  clip: rect(0 0 0 0);
  position: absolute;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  &:focus {
    clip: auto;
    position: static;
    overflow: visible;
    margin: 0;
    width: auto;
    height: auto;
  }
}

/* Header and Footer Navigation
--------------------------------------------- */
.agl-agency-bar {
  display: none;
  &.executiveprotheme {
    position: relative;
  }
}

.site-footer {

  ul {
    margin-left: 0;
    margin-bottom: 1.25rem;
    font-size: 1rem;
    line-height: 1.6;
    list-style-position: outside;
    // font: {
    //   family: $footer-font-family;
    //   weight: $footer-font-weight;
    // }
  }

  .footer-container {
    //@include grid-column(12);
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    float: left;
  }

  .footer-container-tamus {
    //@include grid-column(12);
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    float: left;
    height: 82px;
  }

  .footer-tamus {
    border: 2px solid #f8f8f8;
  }

  p {
    margin-bottom: 0;
  }

}

//@media #{$medium-up} {
@media only screen and (min-width: 45.063em) {

  .agl-agency-bar {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    *zoom: 1;
    background-color: $nav-item-bgcolor;
    height: #{$nav-item-height}px;
    display: block;
    position: absolute;

    &.altitudeprotheme {
      height: #{$nav-item-height + 1}px;
      & ~ .site-container .site-header {
        top: 36px;
        .admin-bar & {
          top: 68px;
        }
        &.dark {
          top: 0;
          .admin-bar & {
            top: 32px;
          }
        }
      }
    }
    .agency-wrap {
      padding-left: 1rem;
      padding-right: 1rem;
      float: left;
      margin-left: auto;
      margin-right: auto;
      float: none;
      width: 71.25rem;
    }

    ul {
      margin: 0;
      text-align: center;

      li {
        display: inline-block;
        position: relative;
        z-index: 5;

        &:after {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          transform: skew(-20deg);
          box-shadow: 0 0 10px #222;
          background: $nav-item-bgcolor;
        }
        &:hover:after {
          background-color: #4F5628;
        }

        a {
          background: url('../img/agency-nav.png') no-repeat #{$nav-item-bgoffset-x}px 0;
          cursor: pointer;
          display: block;
          height: #{$nav-item-height}px;
          width: $nav-item-width + $nav-item-pipe-width * 1px;
          opacity: 0.35;
          text-indent: -9999em;
          position: relative;
          z-index: 2;
          transition: none 300ms ease-out;

          &:hover {
            opacity: 1;
          }
        }

        &.tvmdl-item {
          z-index: 4;
          &:hover:after {
            background-color: #8C5933;
          }
          a {
            width: $nav-item-pipe-width + 72px;
            background-position: #{$nav-item-bgoffset-x}px $nav-item-height * -1px;
          }
        }

        &.ext-item {
          z-index: 3;
          &:hover:after {
            background-color: #1B607B;
          }
          a {
            width: $nav-item-pipe-width + 83px;
            background-position: #{$nav-item-bgoffset-x}px $nav-item-height * -2px;
          }
        }

        &.res-item {
          z-index: 2;
          &:hover:after {
            background-color: #5C8C39;
          }
          a {
            width: $nav-item-pipe-width + 81px;
            background-position: #{$nav-item-bgoffset-x}px $nav-item-height * -3px;
          }
        }

        &.college-item {
          z-index: 1;
          &:hover:after {
            background-color: #5C0025;
          }
          a {
            background-position: #{$nav-item-bgoffset-x}px $nav-item-height * -4px;
          }
        }
      }
    }
  }

  .site-footer {

    .footer-container {
      //@include grid-column( $columns: 10, $float: left );
      padding-left: 1rem;
      padding-right: 1rem;
      width: 83.33333%;
      float: left;
    }

    .footer-container-tamus {
      //@include grid-column( $columns: 2, $float: right );
      padding-left: 1rem;
      padding-right: 1rem;
      width: 16.66667%;
      float: right;
      a {
        float: right;
      }
    }

    .req-links li {
      float: left;
      font-size: 0.8em;
      margin: .2em 1em .2em 0;
    }
  }
}

@media only screen and (max-width: 1023px) {
  .agl-agency-bar.altitudeprotheme {
    position: static;
  }
}